html {
    background-color: black;
    text-align: center;
}
.posterSection {
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}
img {
    border: 5px solid white;
    width: 100%;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-transform: uppercase;
}
p {
    font-family: serif;
    color: white;
}